<!-- app/views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" href="css/debugstyles.css">
  <%- include("./helpers/head.ejs")%>

</head>

<body>
<!--NAVBAR -->
  <script>

    var app = angular.module('app', []);

    app.controller('addFriendController', function($scope, $http) {
      $scope.formData = {"userEmail": "<%=user.email%>"};

      $scope.processForm = function() {
        $http({
          method  : 'POST',
          url     : '/freq',
          data    : $.param($scope.formData),  // pass in data as strings
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
        })
        .success(function(data, status, headers, config){
          $scope.addFriendFlash = data;
        });
      }
    });

    app.controller('seeFreqsController', function($scope, $http) {
      $http({
        method  : 'POST',
        url     : '/freqprofiles',
        data    : $.param({"freqs":'<%=user.frReqs%>'.split(',')}),
        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
      })
      .success(function(data, status, headers, config){
        $scope.freqProfiles = data;
      });
    });



  </script>

  <nav class="navbar navbar-default">
    <div class = "row">
      <h2 class = "navbar-title col-md-2"><a href = "/messaging"> Hermes <img src = "favicon.png" height = "30" class = "navbar-icon"></a></h2>
    </div>
  </nav>


<div ng-app = "app">
  <nav class="friendbar navbar navbar-default">
    <div class = "row">
        <div ng-controller="addFriendController">
          <row>
            <form ng-submit="processForm()">
              <input type="text" ng-model="formData.friendEmail">
              <button type="submit">Add</button>
            </form>
          </row>
        </div>
        <p class = "addFrFlash">{{addFriendFlash}}</p>
    </div>
  </nav>
<!--END NAVBAR-->


  <h2> Hello, <%= user.username %> </h2>
  <img id= "profileimg" src= <%= user.image %>/>
  <div class = "" style = "width: 300px; background-color: cyan;">
    <h3>Friends</h3>
    <%= user.friends %>
  </div>
  <div ng-controller = 'seeFreqsController' class = "" style = "width: 300px; background-color: red;">
    <h3>Friend Reqs</h3>
    <div ng-repeat = "profile in freqProfiles"> {{profile.name}} </div>
  </div>
</div>
</body>

</html>
