<!-- app/views/home.ejs -->

<!DOCTYPE html>
<html>

<head>
  <%- include("./helpers/head.ejs")%>
</head>

<body>
<!--NAVBAR -->
  <script>

    var app = angular.module('app', []);

    app.controller('addFriendController', function($scope, $http) {
      $scope.formData = {"userEmail": "<%=user.email%>"};

      $scope.processForm = function() {
        $http({
          method  : 'POST',
          url     : '/freq',
          data    : $.param($scope.formData),  // pass in data as strings
          headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
        })
        .success(function(data, status, headers, config){
          $scope.addFriendFlash = data;
        });
      }
    });

    app.controller('seeFreqsController', function($scope, $http) {
      $http({
        method  : 'POST',
        url     : '/freqprofiles',
        data    : $.param({"freqs":'<%=user.frReqs%>'.split(',')}),
        headers : { 'Content-Type': 'application/x-www-form-urlencoded' }  // set the headers so angular passing info as form data (not request payload)
      })
      .success(function(data, status, headers, config){
        $scope.freqProfiles = data;
      });
    });



  </script>

  <nav class="navbar navbar-default">
    <div class = "row">
      <h2 class = "navbar-title col-md-2"><a href = "/messaging"> Hermes <img src = "favicon.png" height = "30" class = "navbar-icon"></a></h2>
    </div>
  </nav>



  <nav class="friendbar navbar navbar-default">
    <div class = "row">
      <div ng-app="app">
        <div ng-controller="addFriendController">
          <row>
            <form ng-submit="processForm()">
              <input type="text" ng-model="formData.friendEmail">
              <button type="submit">Add</button>
            </form>
          </row>
        </div>
        <p class = "addFrFlash">{{addFriendFlash}}</p>
        <div ng-controller="seeFreqsController" class="ng-scope">
          <p>{{freqProfiles}}</p>
        </div>
      </div>
    </div>
  </nav>
<!--END NAVBAR-->


  <h2> Hello, <%= user.username %> </h2
  <div class = "container">
    <div class = "jumbotron aln-center" style = "margin: 70px">

      <form action="/messaging" method="post">
        <input type="hidden" name="name" value="<%=user.email%>" readonly><br>
        Message: <input type="text" name="message" placeholder="your message"><br>
        <input type="submit" value="Send">
      </form>

    </div>
  </div>
  <div style = "overflow:scroll; height: 300px; padding:50px; background-color: #D9E9FF">
    <table>
    <tr>
      <th>Sender</th>
      <th>Message</th>
      <th>Time stamp</th>
    </tr>

    <!-- reverse this to render messages in time order -->
    <% var x = msgs.length; %>

    <% while(x--) { %>
      <tr>
        <td><%= msgs[x].name + ": "%></td>
        <td><%= msgs[x].message%></td>
        <% if(msgs[x].createdAt) { %>
          <td><%= msgs[x].createdAt.toString().split("GMT")[0].split(" ")[1] + " " + msgs[x].createdAt.toString().split("GMT")[0].split(" ")[2] + " " + msgs[x].createdAt.toString().split("GMT")[0].split(" ")[4]%> </td>
          <% } %>
      </tr>
    <% } %>
    </table>
  </div>
</body>

</html>
